/* ***** 공통 ***** */

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.placeName {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
  margin-top: 5px;
}
.location {
  display: flex;
  align-items: center;
}

#locationTxt {
  margin-bottom: 10px;
  margin-left: 5px;
}
.buttonContainer {
  display: flex;
}

.button {
  width: 170px;
  height: 51px;
  background-color: #8ea84c;
  color: #e6efff;
  font-size: 16px;
  text-align: center;
  line-height: 51px;
  border-radius: 15px;
}
.greenBar {
  width: 816px;
  height: 41px;
  line-height: 41px;
  border-radius: 10px;
  background-color: #c2d09c;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

/* .container {
  display: flex;
  margin-bottom: 10px;
} */

/* ***** page2 ***** */
.page2 .map:first-child {
  width: 816px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.page2 .imgContainer {
  width: 816px;
  overflow-y: scroll;
  border: 1px solid #02276b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.page2 .buttonContainer {
  width: 816px;
  margin-top: 20px;
  justify-content: space-between;
}

.page2 .map .title {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.page2 .mainButton {
  background-color: #02276b;
}
.page2 .pin1 {
  position: absolute;
  bottom: 170px;
  left: 290px;
}
.page2 .pin2 {
  position: absolute;
  top: 400px;
  left: 230px;
}

.page2 .pin3 {
  position: absolute;
  top: 420px;
  left: 250px;
}

.page2 .pin4 {
  position: absolute;
  top: 500px;
  left: 230px;
}

/* ***** page3 ***** */

.page3 .imgBox {
  margin-bottom: 20px;
}

.page3 .imgBox p {
  line-height: 150%;
  width: 816px;
}

.page3 .imgBox .imgContainer {
  width: 816px;
  display: flex;
  justify-content: space-between;
}

.page3 .place1Sub {
  margin-bottom: 15px;
}


.page3 .buttonContainer {
  display: flex;
  width: 816px;
  justify-content: space-between;
  margin-bottom: 20px;
} 
.page3 .place1Sub img{
  margin-bottom: 15px;
}
.page3 .greenBar {
  width: 816px;
  margin-top: 10px;
}
/* ***** page4 ***** */

.page4 .imgBox {
  position: relative;
  display: flex;
  width: 816px;
  justify-content: space-between;
}
.page4 .leftImgBox {
  width: 417px;
  height: 973px;
}
.page4 .rightImgBox {
  width: 366px;
  height: 973px;
}
.page4 .p4Box {
  width: 816px;
  height: 115px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page4 p {
  line-height: 150%;
}


.page4 .p4Container1 {
  display: flex;
  align-items: center;
  background-color: #d4dada;
  border-radius: 15px;
  width: 816px;
  height: 51px;
}

.page4 .p4Container2 {
  display: flex;
  align-items: center;
  background-color: #d4dada;
  border-radius: 15px;
  width: 816px;
  height: 51px;
}
.page4 .p4Container1 p {
  line-height: 51px;
  margin-left: 10px;
}
.page4 .p4Container2 p {
  line-height: 51px;
  margin-left: 10px;
}

/* ***** page5 ***** */

.page5Container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 821px;
}

.page5 .txtContainer {
  width: 412px;
  /* margin-left: 10px; */
}
.page5 .txtContainer .content {
  line-height: 150%;
  width: 412px;
  height: 231.43px;
  font-size: 16px;
}
.page5 .imgbox img {
  margin-bottom: 18px;
}

/* ***** page6 ***** */

.page6 {
  position: relative;
}
.page6 .hanger1 {
  width: 100%;
  height: 9px;
  position: absolute;
  top: 30px;
  background-color: #dadada;
}
.page6 .hanger2 {
  width: 100%;
  height: 9px;
  position: absolute;
  top: 530px;
  background-color: #dadada;
}

.page6 .imgContainer {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}

.page6 .imgContainer .wideScroll {
  margin: 10px;
}

.page6 #place #locationTxt {
  line-height: 150%;
}

/* ***** page7 ***** */
.page7 #place p {
  line-height: 150%;
}

.page7 .buttonContainer {
  width: 816px;
  height: 51px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.page7 .button {
  margin: 0;
  width: 400px;
}

.page7 .imgContainer {
  width: 816px;
  height: 600px;
  display: flex;
  position: relative;
  overflow: scroll;
}

.oyster1{
  margin-right: 10px;
}
.oyster2{
  margin-right: 10px;
}
.oyster3{
  margin-right: 10px;
}
.page7 .imgContainer img


/* 사진이 호버되면 확대된다 */
.page7 .p7Container .imgContainer .oyster1 {
  transition: all 0.85s ease 0s;
}
.oyster1:hover {
  transform: translate(50px, 50px) scale(1.3);
  z-index: 7;
}
.page7 .p7Container .imgContainer .oyster2 {
  transition: all 0.85s ease 0s;
}
.oyster2:hover {
  transform: translate(-200px, 50px) scale(1.3);
  z-index: 8;
}
.page7 .p7Container .imgContainer .oyster3 {
  transition: all 0.85s ease 0s;
}
.oyster3:hover {
  transform: translate(-200px, 50px) scale(1.3);
  z-index: 9;
}
.page7 .p7Container .imgContainer .oyster4 {
  transition: all 0.85s ease 0s;
}
.oyster4:hover {
  transform: translate(-200px, 50px) scale(1.3);
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .header {
    display: none;
  }
  .four-container {
    display: flex;
  }

  .static {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: pink; */
    border: 2px solid red;
  }

  .content {
    display: flex;
  }
  .page6 .imgContainer {
    width: 821px;
  }
  /*  */

  
}

/* 작은 화면에 대한 스타일 */
/* @media screen and (max-width: 768px) {
} */

/* 중간 크기 화면에 대한 스타일 */
/* @media screen and (min-width: 769px) and (max-width: 1024px) {
} */

@media screen and (max-width: 767px) {
  .static {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* background-color: pink; */
    border: 2px solid blue;
  }
  .page3{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .page3 .imgContainer img{
    margin-top: 10px;
  }
  .page3 .imgBox p {
    line-height: 150%;
    width: 400px;
  }
  
  .page3 .place1Sub{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .page3 .place1Sub img{
    width: 400px;
  }
  .page3 .place1Sub .greenBar{
    width: 400px;
    margin-top: 10px;
  }
  .page3 .buttonContainer{
    flex-direction: column;
    width: 400px;
  }
  .page3 .button{
    width: 400px;
    margin-top: 10px;
  }
  .page3 .button1{
    width: 400px;
    margin-top: 0;
  }

  .page3 .imgBox .imgContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  .page3 p{
    width: 400px;
  }


  .page4{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
  }

  .page4 .imgBox{
    flex-direction: column;
    width: 400px;
    height: 100%;
  }
  .page4 .imgBox img{
    width: 400px;
  }
  .page4 .imgBox p{
    width: 400px;
  }

  .page4 .p4Box{
    width: 400px;
  }
  .page4 .greenBar{
    width: 400px;
  }
  .page4 .p4Box .button{
    width:400px;
  }
  
  


}

