/* ***** 공통 ***** */

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.placeName {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
  margin-top: 5px;
}
.location {
  display: flex;
  align-items: center;
}

#locationTxt {
  margin-bottom: 10px;
}
.buttonContainer {
  display: flex;
}

.button {
  width: 170px;
  height: 51px;
  background-color: #8ea84c;
  color: #e6efff;
  font-size: 16px;
  text-align: center;
  line-height: 51px;
  border-radius: 15px;
}
.greenBar {
  width: 816px;
  height: 41px;
  line-height: 41px;
  border-radius: 10px;
  background-color: #c2d09c;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

/* .container {
  display: flex;
  margin-bottom: 10px;
} */


/* ***** page2 ***** */

.page2 .map:first-child {
  width: 816px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.page2 .imgContainer {
  width: 816px;
  overflow-y: scroll;
  border: 1px solid #02276b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.page2 .buttonContainer {
  width: 816px;
  margin-top: 20px;
  justify-content: space-between;
}

.page2 .map .title {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.page2 .mainButton {
  background-color: #02276b;
}
.page2 .pin1 {
  position: absolute;
  bottom: 170px;
  left: 290px;
}
.page2 .pin2 {
  position: absolute;
  top: 400px;
  left: 230px;
}

.page2 .pin3 {
  position: absolute;
  top: 420px;
  left: 250px;
}

.page2 .pin4 {
  position: absolute;
  top: 500px;
  left: 230px;
}

/* ***** page3 ***** */

.page3 .imgBox {
  margin-bottom: 20px;
}

.page3 .imgBox p {
  line-height: 150%;
  width: 816px;
}

.page3 .imgBox .imgContainer {
  width: 816px;
  display: flex;
  justify-content: space-between;
}

.page3 .place1Sub {
  margin-bottom: 15px;
}
.page3 .greenBar {
  width: 816px;
}
.page3 .buttonContainer {
  display: flex;
  width: 816px;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* ***** page4 ***** */

.page4 .imgBox {
  position: relative;
  display: flex;
  width: 816px;
  justify-content: space-between;
}
.page4 .leftImgBox {
  width: 417px;
  height: 973px;
}
.page4 .rightImgBox {
  width: 366px;
  height: 973px;
}
.page4 .p4Box {
  width: 816px;
  height: 115px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page4 p {
  line-height: 150%;
}

.page4 .buttonBox .boxContainer {
  display: flex;
}

.page4 .p4Container1 {
  display: flex;
  align-items: center;
  background-color: #d4dada;
  border-radius: 15px;
  width: 816px;
  height: 51px;
}
.page4 .p4Container2 {
  display: flex;
  align-items: center;
  background-color: #d4dada;
  border-radius: 15px;
  width: 816px;
  height: 51px;
}
.page4 .p4Container p {
  line-height: 51px;
  margin-left: 10px;
}

/* ***** page5 ***** */

.page5Container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 821px;
}

.page5 .txtContainer {
  width: 412px;
  margin-left: 10px;
}
.page5 .txtContainer .content {
  line-height: 150%;
  width: 412px;
  height: 231.43px;
  font-size: 16px;
}
.page5 .imgbox img {
  margin-bottom: 18px;
}

/* ***** page6 ***** */

.page6 {
  position: relative;
}
.page6 .hanger1 {
  width: 100%;
  height: 9px;
  position: absolute;
  top: 30px;
  background-color: #dadada;
}
.page6 .hanger2 {
  width: 100%;
  height: 9px;
  position: absolute;
  top: 530px;
  background-color: #dadada;
}

.page6 .imgContainer {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}

.page6 .imgContainer .wideScroll {
  margin: 10px;
}

.page6 #place #locationTxt {
  line-height: 150%;
}

/* ***** page7 ***** */

.page7 .p7Container {
  display: flex;
  position: relative;
}
.page7 #place {
  width: 394px;
  height: 141px;
}
.page7 #place p {
  line-height: 150%;
}

.page7 .buttonContainer {
  width: 394px;
  height: 51px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.page7 .button {
  margin: 0;
  width: 185px;
}
.page7 .greenBar {
  margin-top: 15px;
  width: 394px;
  height: 41px;
  line-height: 41px;
}

.page7 .imgContainer {
  width: 100%;
  height: 800px;
  margin: 10px;
  position: relative;
}
.page7 .oyster1 {
  position: absolute;
  left: 60px;
  top: 20px;
}
.page7 .oyster2 {
  position: absolute;
  top: 200px;
}
.page7 .oyster3 {
  position: absolute;
  top: 400px;
  left: 80px;
}
.page7 .oyster4 {
  position: absolute;
  top: 650px;
  left: 20px;
}

.page7 .imgbox {
  width: 867px;
  height: 696px;
  background-color: #d4dada;
  margin: 0;
}

 /* 사진이 호버되면 확대된다 */
.page7 .p7Container .imgContainer .oyster1 {
  transition: all 0.85s ease 0s;
}
.oyster1:hover {
  transform: translate(-200px, 250px) scale(1.3);
  z-index: 7;
}
.page7 .p7Container .imgContainer .oyster2 {
  transition: all 0.85s ease 0s;
}
.oyster2:hover {
  transform: translate(-200px, 120px) scale(1.3);
  z-index: 8;
}
.page7 .p7Container .imgContainer .oyster3 {
  transition: all 0.85s ease 0s;
}
.oyster3:hover {
  transform: translate(-200px, -60px) scale(1.3);
  z-index: 9;
}
.page7 .p7Container .imgContainer .oyster4 {
  transition: all 0.85s ease 0s;
}
.oyster4:hover {
  transform: translate(-200px, -270px) scale(1.3);
  z-index: 10;
}
