/* 전체 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header: 날씨 + 온도 */
header {
  position: absolute;
  width: 100vw;
  z-index: 3;
}


.apis {
  display: flex;
  justify-content: space-between;
   position: relative;
  top: 3vh;
  color: #023793;
  font-size: 20px;
}

/* 비디오 설정 */
.bg-video {
  opacity: 85%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 로고 이미지 설정 */
.logo {
  position: absolute;
  z-index: 2;
  width: 50vw;
  height: 35vh;
}

/* menu+scroll 위치 */
.bg-video > div {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom .menu {
  color: white;
  width: 12vw;
  height: 8vh;
  font-size: 5vh;
  border-radius: 15px;
  text-align: center;
  line-height: 8vh;
}
.scroll {
  color: white;
  font-size: 20px;
}
