li {
  list-style: none;
}

/* 추천명소 map */
.spring-map .map:first-child {
  width: 816px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.spring-map .imgContainer {
  width: 816px;
  overflow-y: scroll;
  border: 1px solid #02276b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.spring-map .buttonContainer {
  width: 816px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.spring-map .map .title {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.spring-map .mainButton {
  background-color: #02276b;
  margin-right: 10px;
}

.spring-map .pin1 {
  position: absolute;
  bottom: 18px;
  left: 338px;
}

.spring-map .pin2 {
  position: absolute;
  bottom: -124px;
  left: 310px;
}

.spring-map .pin3 {
  position: absolute;
  bottom: -166px;
  left: 196px;
}

.spring-map .pin4 {
  position: absolute;
  bottom: -218px;
  left: 226px;
}

.button {
  width: 170px;
  height: 51px;
  background-color: #8ea84c;
  color: #e6efff;
  font-size: 16px;
  text-align: center;
  line-height: 51px;
  border-radius: 15px;
}

/* 양지암 조각 공원 */
#ygPage {
  display: flex;
  margin: 30% auto;
}

#ygPage .yg-left {
  width: 327px;
  margin-right: 20px;
}

#ygPage .yg-left img {
  margin-bottom: 20px;
}

#ygPage .yg-left h1 {
  margin-bottom: 10px;
}

#ygPage .yg-left .where {
  display: flex;
  margin-bottom: 10px;
}

#ygPage .yg-left .where i {
  font-size: 17px;
  margin-top: 3px;
}
/*  */
#ygPage .yg-left h1 {
  color: #011842;
}

#ygPage .yg-left h2 {
  color: #02276b;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}

#ygPage .yg-left P {
  color: #02276b;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -4%;
}

#ygPage .yg-right img {
  height: 911px;
}

/* 공곶이 수목원 */
#ggPage {
  width: 100%;
  margin: 30rem 0;
}

#ggPage h1 {
  margin-bottom: 10px;
  color: #011842;
  text-align: center;
}

#ggPage .where {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: center;
}

#ggPage .where i {
  font-size: 17px;
  margin-top: 3px;
}

#ggPage .where h2 {
  color: #02276b;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}

#ggPage img {
  width: 840px;
  height: 370px;
}

#ggPage p {
  margin-top: 1rem;
  width: 860px;
  color: #02276b;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -4%;
  font-size: 16px;
}

/*  */

#ggPage .flower {
  width: 100%;
  margin-top: 10rem;
}

#ggPage .flower h1 {
  text-align: start;
}

#ggPage .flower .flowerImg {
  display: flex;
  margin: 10px 0;
}

#ggPage .flower img {
  width: 263px;
  height: 247px;
}

#ggPage .flower img:nth-of-type(2) {
  margin: 0 25px;
}

#ggPage .flowerButton {
  display: flex;
  flex-wrap: wrap;
  width: 110%;
}

#ggPage .flowerButton div {
  width: 260px;
  height: 40px;
  border-radius: 15px;
  background-color: #02276b;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#ggPage .flowerButton div:nth-of-type(2) {
  margin: 0 30px;
}

/* 학동 유채꽃밭 */

#hgPage {
  width: 100%;
  margin: 30rem 0;
}

#hdPage img {
  width: 688px;
  height: 721px;
}

#hdPage h1 {
  margin: 10px 0;
  color: #011842;
}

#hdPage .where {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  /* justify-content: center; */
}

#hdPage .where i {
  font-size: 17px;
  margin-top: 3px;
}

#hdPage .where h2 {
  color: #02276b;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}

#hdPage p {
  margin-top: 1rem;
  color: #02276b;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -4%;
  font-size: 16px;
}

/* 제철 음식 */
#food {
  margin: 25rem 0;
}

#food .title h1 {
  color: #011842;
  text-align: end;
  position: relative;
  z-index: 10;
}

#food .title img {
  width: 403px;
  height: 25px;
  position: relative;
  left: 423px;
  bottom: 12px;
}

#food .title p {
  color: #02276b;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -4%;
  font-size: 16px;
  text-align: end;
}
/*  */
#food .food1 {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0;
}

#food .food1 div {
  width: 42px;
  height: 449px;
  border-radius: 15px;
  background-color: #8ea84c;
  color: white;
  font-size: 18px;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#food .food1 img {
  width: 449px;
  height: 449px;
  border-radius: 15px;
  margin-left: 10px;
}

#food .food1 dl {
  width: 254px;
  height: 299px;
  margin: 105px 0 0 10px;
  display: inline-block;
  justify-content: end;
}

#food .food1 dt {
  width: 58px;
  height: 25px;
  background-color: #02276b;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#food .food1 dt:nth-of-type(2) {
  width: 80px;
}

#food .food1 dd {
  color: #02276b;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -4%;
  font-size: 16px;
  margin: 5px 0;
}

/*  */
#food .food2 {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0;
  flex-direction: row-reverse;
}

#food .food2 div {
  width: 42px;
  height: 449px;
  border-radius: 15px;
  background-color: #8ea84c;
  color: white;
  font-size: 18px;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#food .food2 img {
  margin-right: 10px;
  width: 449px;
  height: 449px;
  border-radius: 15px;
}

#food .food2 dl {
  width: 275px;
  height: 350px;
  margin: 132px 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

#food .food2 dt {
  width: 58px;
  height: 25px;
  background-color: #02276b;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#food .food2 dt:nth-of-type(2) {
  width: 80px;
}

#food .food2 dd {
  color: #02276b;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -4%;
  font-size: 16px;
  margin: 5px 5px;
  text-align: end;
}

/* 봄 축제 */
#swiper h1 {
  color: #011842;
  background-color: red;
}

#springFestival {
  overflow: hidden;
}

#springFestival p {
  margin-top: 1rem;
  color: #02276b;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -4%;
  font-size: 16px;
}

/* #springFestival .swiper {
  overflow: visible;
} */

#springFestival .swiper-wrapper div {
  width: 432px;
  height: 275px;
  border-radius: 15px;
  /* margin-right: 10px; */
  margin: 10px 10px 10px 0;
  /* overflow: hidden; */
}

/* #springFestival .imgContainer1 {
  width: 1200px;
} */

/* #springFestival .imgContainer1 div:nth-of-type(1) {
  background-image: url(../img/spring/축제1.png);
}
#springFestival .imgContainer1 div:nth-of-type(2) {
  background-image: url(../img/spring/축제2.png);
}
#springFestival .imgContainer1 div:nth-of-type(3) {
  background-image: url(../img/spring/축제3.png);
} 
#springFestival .imgContainer2 div:nth-of-type(1) {
  background-image: url(../img/spring/축제4.png);
  background-size: cover;
}
#springFestival .imgContainer2 div:nth-of-type(2) {
  background-image: url(../img/spring/축제5.png);
}
#springFestival .imgContainer2 div:nth-of-type(3) {
  background-image: url(../img/spring/축제6.png);
  background-size: cover;
} */
