/* 모든 걸 초기화 시키고 나만의 CSS를 적용 */
@import url("/css/reset.css");

/* html 태그에 적용되는 기본 스타일 */
@import url("/css/root.css");

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;300;400;500;700;900&display=swap");

/* 에필로그 폰트 */
@font-face {
  font-family: "epilogue-Bold";
  src: url("../font/210-epilogue-B.otf");
}

.epilogue-font {
  font-family: "epilogue-Bold", "serif";
}

/* 기준 폰트 사이즈 1em */
html {
  font-size: 10px;
  background-color: #fafafa;
}

body {
  overflow-x: hidden;
}

/* 기본 글꼴 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Hahmlet", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: -4%;
}

h1 {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 130%;
  color: var(--text-gray-700);
}

h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 130%;
  color: var(--text-gray-700);
}

p {
  font-size: 1.6em;
  font-weight: 400;
  color: var(--text-gray-700);
}

.font-size-xxxl {
  font-size: 2.4em;
}

.font-size-xxl {
  font-size: 2.2em;
}

.font-size-xl {
  font-size: 2em;
}

.font-size-l {
  font-size: 1.8em;
}

.font-size-m {
  font-size: 1.6em;
}

.font-size-s {
  font-size: 1.4em;
}

.font-size-xs {
  font-size: 1.2em;
}

.font-size-xxs {
  font-size: 1.1em;
}

/* 전체 너비 */
.container {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* 사계절 공통 css ======================================*/
.static {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* 사계절 메뉴 */
.header {
  position: -webkit-sticky;
  position: sticky;
  width: 278px;
  height: 100vh;
  background-color: #fafafa;
  top: 0;
  left: 0;
  z-index: 10;
}

.header header {
  padding: 0px 48px;
}

.header header h1 {
  border-top: 3px solid var(--main-blue);
}

.logo a {
  margin-bottom: 10px;
  padding-top: calc(197 / 196 * 100%);
  background-image: url(../img/logo.svg);
  display: block;
  text-indent: -9999px;
  height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.header header nav ul li {
  position: relative;
}

.header header nav ul li:hover {
  opacity: 0.7;
}

.header header nav ul.nav-main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.header header nav ul.nav-main li {
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
  background-color: var(--main-blue);
  border-radius: 15px;
  padding: 4px;
}

.header header nav ul.nav-main li a {
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #ffffff;
  border-radius: 10px;
}

.header header p {
  text-align: center;
  border-bottom: solid 3px var(--main-blue);
  padding-bottom: 20px;
}

/* 사계절 주요 콘텐츠 */
.contents {
  width: calc(100% - 278px);
  padding: 0 48px;
}

/* 사계절 공통 섹션 */
.contents .four-section {
  width: 100%;
  padding: 50px 0 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
}

.contents .four-section .four-img {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  z-index: 0;
  width: 800px;
  height: 500px;
}

.contents .four-section .four-img-spring {
  background-image: url(../img/spring/0a54199c-5131-4361-9ec1-094cba0098d6.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contents .four-section .four-img-summer {
  background-image: url(../img/summer/summer-main-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contents .four-section .four-img-autumn {
  background-image: url(../img/autumn.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contents .four-section .four-img-winter {
  background-image: url(../img/winter.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contents .four-section .four-geoje-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 96px 270px 0 0;
  background-color: #fafafa;
  border-bottom-left-radius: 15px;
  max-width: 80%;
}

.contents .four-section .four-geoje-text {
  position: absolute;
  z-index: 1;
  top: 46px;
  left: -70px;
  width: 100%;
}

.contents .four-section .four-geoje-text span.up-geoje {
  color: #909495;
  font-size: 10em;
  font-weight: 500;
  z-index: 14;
  position: absolute;
  right: 0;
  top: 0;
}

.contents .four-section .four-geoje-text span.behind-geoje {
  color: #ffffff;
  font-size: 10em;
  font-weight: 500;
  -webkit-text-stroke: 10px #ffffff;
  position: absolute;
  right: 0;
  top: 0;
}

.contents .four-section .four-chinese-bg {
  position: absolute;
  z-index: 2;
  top: 434px;
  left: 0;
  padding: 120px 170px 0 0;
  background-color: #fafafa;
  border-top-right-radius: 15px;
  max-width: 80%;
}

.contents .four-section .four-chinese-text {
  position: absolute;
  z-index: 3;
  top: 500px;
  left: 94px;
  width: 100%;
}

.contents .four-section .four-chinese-text .spring-china {
  color: #f3c72c;
}

.contents .four-section .four-chinese-text .summer-china {
  color: var(--main-blue);
}

.contents .four-section .four-chinese-text .autumn-china {
  color: #d0705d;
}

.contents .four-section .four-chinese-text .winter-china {
  color: var(--main-blue);
}

.contents .four-section .four-chinese-text span.up-china {
  font-size: 12em;
  font-weight: 600;
  z-index: 14;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contents .four-section .four-chinese-text span.behind-china {
  color: #909495;
  font-size: 12em;
  font-weight: 600;
  -webkit-text-stroke: 10px #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.txt-box {
  padding: 50px 0;
  margin: 80px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 800px;
}

.txt-box .black-bar {
  background-color: #001842;
  height: 1px;
  margin-bottom: 10px;
  width: 70%;
}

.txt-box p {
  color: #011842;
  line-height: 150%;
  letter-spacing: -4%;
}

/* 푸터 */
.footer {
  background-color: aqua;
}
