/* 모든 걸 초기화 시키고 나만의 CSS를 적용 */
@import url("/css/reset.css");

/* html 태그에 적용되는 기본 스타일 */
@import url("/css/root.css");

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;300;400;500;700;900&display=swap");

/* 기준 폰트 사이즈 1em */
html {
  font-size: 10px;
  background-color: #fafafa;
}

/* 기본 글꼴 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Hahmlet", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: -4%;
}

h1 {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 130%;
  margin: calc(var(--base-space) * 2) 0;
  color: var(--text-gray-700);
}

h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 130%;
  margin: calc(var(--base-space) * 2) 0;
  color: var(--text-gray-700);
}

p {
  font-size: 1.6em;
  font-weight: 400;
  margin: calc(var(--base-space) * 1) 0;
  color: var(--text-gray-700);
}

.font-size-xxxl {
  font-size: 2.4em;
}

.font-size-xxl {
  font-size: 2.2em;
}

.font-size-xl {
  font-size: 2em;
}

.font-size-l {
  font-size: 1.8em;
}

.font-size-m {
  font-size: 1.6em;
}

.font-size-s {
  font-size: 1.4em;
}

.font-size-xs {
  font-size: 1.2em;
}

.font-size-xxs {
  font-size: 1.1em;
}

/* 전체 너비 */
.container {
  width: 100%;
  max-width: 1200px;
}

/* 사계절 공통 css ======================================*/
.static {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* 사계절 메뉴 */
.header {
  position: -webkit-sticky;
  position: sticky;
  width: 278px;
  height: 929px;
  top: 0;
  left: 0;
  z-index: 10;
}

.header header {
  padding: 0px 48px;
}

.header header h1 {
  border-top: 3px solid var(--main-blue);
}

.logo a {
  margin-bottom: 10px;
  padding-top: calc(197 / 196 * 100%);
  background-image: url(../img/logo.svg);
  display: block;
  text-indent: -9999px;
  height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.header header nav ul li {
  position: relative;
}

.header header nav ul li:hover {
  opacity: 0.7;
}

.header header nav ul.nav-main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.header header nav ul.nav-main li {
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
  background-color: var(--main-blue);
  border-radius: 15px;
  padding: 4px;
}

.header header nav ul.nav-main li a {
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #ffffff;
  border-radius: 10px;
}

.header header nav ul.nav-main li a.active {
  background-color: #f64c72;
}

.header header p {
  text-align: center;
  border-bottom: solid 3px var(--main-blue);
  padding-bottom: 20px;
}

.contents {
  width: calc(100% - 278px);
  padding: 0 20px;
  height: 2000px;
}

/* 사계절 주요 콘텐츠 */
.contents {
  width: calc(100% - 278px);
  padding: 0 48px;
  height: 2000px;
}

/* 사계절 공통 섹션 */
.contents .four-section {
  width: 100%;
  padding: 2vw;
  margin: 5vh 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.contents .four-section .four-img {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  z-index: 0;
  width: 60vw;
  height: 78vh;
  background-image: url(../img/summer-main.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contents .four-section .four-geoje-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 8vw 20vw 0 0;
  background-color: #fafafa;
  border-bottom-left-radius: 15px;
  max-width: 80%;
}

.contents .four-section .four-geoje-text {
  position: absolute;
  z-index: 1;
  top: 6vh;
  right: 6vw;
}

.contents .four-section .four-geoje-text span {
  color: #909495;
  font-size: 7em;
  font-weight: 500;
  text-shadow: -2px -2px 0 #f8f8f8, 2px -2px 0 #f8f8f8, -2px 2px 0 #f8f8f8,
    2px 2px 0 #f8f8f8;
}

.contents .four-section .four-chinese-bg {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  padding: 10vw 16vw 0 0;
  background-color: #fafafa;
  border-top-right-radius: 15px;
  max-width: 80%;
}

.contents .four-section .four-chinese-text {
  position: absolute;
  z-index: 3;
  bottom: 6vh;
  left: 5vw;
}

.contents .four-section .four-chinese-text span {
  color: var(--main-blue);
  font-size: 14em;
  font-weight: 800;
  text-shadow: -2px -2px 0 #f8f8f8, 2px -2px 0 #f8f8f8, -2px 2px 0 #f8f8f8,
    2px 2px 0 #f8f8f8;
}

/* 푸터 */
.footer {
  background-color: aqua;
}
