section {
  margin-bottom: 50px;
}

.page {
  border: 3px solid red;
  height: 1000px;
  width: 100%;
}

.location {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
}

.button {
  height: 6vh;
  width: 10vw;
  background-color: #023793;
  text-align: center;
  line-height: 6vh;
  color: white;
  border-radius: 15px;
  font-size: 1vw;
}

.subButton {
  height: 6vh;
  width: 10vw;
  background-color: #6f843b;
  text-align: center;
  line-height: 6vh;
  color: white;
  border-radius: 15px;
  font-size: 1vw;
}
.container {
  display: flex;
  margin-bottom: 10px;
}

/* page 1 */
.text {
  position: absolute;
  color: #02276b;
  font-weight: bold;
  z-index: 3;
}

.text1 {
  left: 55vw;
  top: 2vh;
  font-size: 10vh;
}

.text2 {
  left: 25vw;
  top: 55vh;
  font-size: 15vh;
}

.text3 {
  text-decoration: overline;
  font-size: 16px;
  left: 48%;
}

.image {
}

/* page2: map  */
/* ping */
i {
  position: relative;
  bottom: 10px;
  z-index: 222;
}
i:hover {
  transform: scale(1.5);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.button1 {
  background-color: #8ea84c;
}

.button2 {
  background-color: #6f843b;
}

.button3 {
  background-color: #4f5e2a;
}

.button4 {
  background-color: #2f3819;
}

/* page 3: 거제 식물원 */
.page3 .imgBox {
  position: relative;
  display: flex;
  width: 55vw;
  justify-content: space-between;
}
.page3 .leftimages {
  width: 25vw;
  height: 50vh;
}
.page3 .rightimages {
  width: 25vw;
  height: 50vh;
}

.page3 p {
  line-height: 150%;
}

.page3 .buttonBox .boxContainer {
  display: flex;
}

/* page 4: 포로수용소 */
.page4 .buttonContainer {
  flex-direction: column;
}
.page4 .subButton {
}

.page4 .subButtonBox {
  border: 3px solid #4f5e2a;
}
