/* ***** 공통 ***** */

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.page {
  /* height: 1000px; */
  width: 100%;
  margin-top: 200px;
}

p {
  font-size: 1.6rem;
  line-height: 150%;
  color: #02276b;
  letter-spacing: -4%;
  word-break: keep-all;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
  color: #011842;
  line-height: 150%;
  letter-spacing: -4%;
  word-break: keep-all;
}

h4 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
  color: #011842;
  line-height: 150%;
  letter-spacing: -4%;
  word-break: keep-all;
}

h6 {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 10px;
  color: #011842;
  line-height: 150%;
  letter-spacing: -4%;
  word-break: keep-all;
}

.button-margin {
  margin-bottom: 10px;
}

.place-addr {
  display: flex;
  margin-bottom: 20px;
}

.place-addr i {
  font-size: 1.7em;
  color: #011842;
  margin-top: 5px;
}

.place-addr p {
  margin-left: 10px;
}

.location {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.button {
  height: 51px;
  width: 170px;
  background-color: #023793;
  text-align: center;
  line-height: 51px;
  color: white;
  border-radius: 15px;
  font-size: 16px;
}

.longbutton {
  width: 100%;
  height: 51px;
  background-color: #4e74b7;
  line-height: 51px;
  color: white;
  border-radius: 15px;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.subButton {
  height: 51px;
  width: 170px;
  background-color: #6f843b;
  text-align: center;
  line-height: 51px;
  font-size: 16px;
  color: white;
  border-radius: 15px;
}

/* page2: map  */
/* ping */

.winter-map address.pin1 {
  position: absolute;
  top: 200px;
  right: 300px;
}

.winter-map address.pin2 {
  position: absolute;
  top: 280px;
  right: 310px;
}

.winter-map address.pin3 {
  position: absolute;
  top: 250px;
  right: 200px;
}

.winter-map address.pin4 {
  position: absolute;
  left: 360px;
  top: 350px;
}

.mainButtonContainer {
  display: flex;
  justify-content: space-between;
}

.mainButtonContainer .mainButton {
  font-size: 1.5rem;
  background-color: #023793;
  color: white;
  height: 6vh;
  width: 8vw;
  line-height: 6vh;
  text-align: center;
  border-radius: 15px;
}

/* 추천명소 map */
.winter-map .map:first-child {
  width: 816px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.winter-map .imgContainer {
  width: 816px;
  overflow-y: scroll;
  border: 1px solid #02276b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.winter-map .buttonContainer {
  width: 816px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.winter-map .map .title {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.winter-map .mainButton {
  background-color: #02276b;
  margin-right: 10px;
}

.winter-map .pin1 {
  position: absolute;
  bottom: -32px;
  left: 97px;
}

.winter-map .pin2 {
  position: absolute;
  bottom: 4px;
  left: 166px;
}

.winter-map .pin3 {
  position: absolute;
  bottom: 26px;
  left: 180px;
}

.winter-map .pin4 {
  position: absolute;
  bottom: -84px;
  left: 353px;
}

.winter-map .map .button {
  width: 170px;
  height: 51px;
  background-color: #02276b;
  color: #e6efff;
  font-size: 16px;
  text-align: center;
  line-height: 51px;
  /* border-radius: 15px; */
}

/* page 3: 거제 식물원 */
/* .page3 .gardenText {
  margin: 20px 0;
} */

.page3 .imgBox {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.page3 .imgBox .img-wrapper {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.page3 .leftimages {
  padding-right: 15px;
}

.page3 .garden-text {
  padding: 15px 0 80px 0;
}

.page3 .garden-text:last-child {
  padding: 15px 0 0 0;
}

.page3 .rightimages {
  padding-left: 15px;
  margin-top: 130px;
}

.page3 p {
  line-height: 150%;
}

.page3 .buttonBox .boxContainer {
  display: flex;
}

/* page 4: 포로수용소 */

.page4 .tableContainer {
  border: 1px dashed #8ea84c;
  border-radius: 15px;
  padding: 20px 40px;
}

.page4 .imgBox {
  margin-bottom: 30px;
}

.page4 .image {
  border-radius: 15px;
  width: 60%;
  margin-right: 30px;
}

.page4 .prisonBox {
  display: flex;
  align-items: flex-end;
}

.page4 .prisonExplain {
  text-align: left;
  line-height: 150%;
}

.page4 .buttonContainer {
  margin: 10px;
  line-height: 16px;
  align-items: center;
}

.page4 .buttonContainer .buttonText {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.page4 .prisonBox .button {
  width: 16px;
  line-height: 16px;
}

/* page 5: 고현시장 */
.page5 {
  flex-wrap: nowrap;
}

.swiper {
  width: 100%;
}

.swiper .swiper-wrapper .swiper-slide .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.page5 h2 {
  margin-top: 20px;
}

/* pagination custom */
/* 화살표 커스텀 */
.swiper-button-prev,
.swiper-button-next {
  color: #e6efff;
}

.page6 .p {
  line-height: 150%;
}

/* page 6: 지심도 */
.place {
  margin-left: auto;
  width: 100%;
}
.page6 .pageContainer {
  width: 100%;
}

.imgContainerBox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page6 .imageContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.page6 .image {
  border-radius: 15px;
  width: 630px;
  transition: width 1s cubic-bezier(0.4, 0, 1, 1);
}

.page6 .imageContainer:hover .image {
  width: 400px;
}

.page6 .imageText {
  position: relative;
  width: 400px;
  font-size: 16px;
  line-height: 16px;
  justify-content: center;
  left: 30px;
}

/* page 7: 제철음식 */
.page7 .subContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 20px;
}

.page7 .foodContainer {
  display: flex;
  align-items: center;
  padding: 30px 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.page7 .image {
  position: relative;
  border-radius: 15px;
  width: 100%;
}

.page7 .foodContainer .buttonContainer {
  flex-direction: column;
  align-items: baseline;
  margin-top: 30px;
}

.page7 .foodContainer .buttonContainer .subButton {
  height: 41px;
  line-height: 41px;
  margin-bottom: 10px;
}

.page7 .subContainer .buttonContainer .button {
  background-color: #8ea84c;
}

.page7 .restaurant .buttonContainer .button {
  background-color: #2f3819;
}

.restaurant {
  padding: 20px 40px 50px;
}

.restaurant h4 {
  margin-bottom: 20px;
}

.page7 .textBox {
  font-size: 16px;
  margin-bottom: 30px;
}

.page7 .buttonContainer {
  justify-content: space-evenly;
}

/* page 8: 지역축제 */
.page8 .subContainer {
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px 50px;
  align-items: center;
}

.festivalImgContainer {
  border-radius: 15px;
  width: 30vw;
  object-fit: cover;
  transition: opacity 0.3s;
  position: relative;
}

.festivalNoticeContainer {
  width: 100%;
}

.hoverText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  background-color: #6f843b;
  color: #d4dada;
  font-size: 2rem;
  border-radius: 5px;
  padding: 5px 10px;
  transition: opacity 0.3s, visibility 0.3s;
}

.festivalImgContainer img:hover + .hoverText {
  opacity: 1;
  visibility: visible; /* 호버 시 텍스트 표시 */
}

.festivalImgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5rem;
}

.festivalImgContainer img {
  border-radius: 15px;
  height: 28vh;
  width: 30vw;
  object-fit: cover;
  transition: opacity 0.3s;
  position: relative;
}

.festivalImgContainer img:hover {
  opacity: 0.8; /* 이미지에 hover 시 투명도 변경 */
}

.photo-cell {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.photo-cell img {
  width: 100%;
}

.photo-cell:hover .hoverText {
  opacity: 1;
  visibility: visible;
}

/* 폭죽 놀이 */
.background {
  position: absolute;
  z-index: 9949;
  width: 827px;
  height: 885px;
  background-color: #ffffff00;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.headline {
  visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.25rem;
  -webkit-animation: fadeIn 1s forwards;
  animation: fadeIn 1s forwards;
}

.headline svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Pushster", cursive;
}

.headline .goodbye {
  font-size: 2.5rem;
  font-weight: 100;
  fill: #ffae00;
  opacity: 0;
  -webkit-animation: fadeIn 4s forwards 1s;
  animation: fadeIn 4s forwards 1s;
}

.headline .newyear {
  font-size: 3rem;
  font-weight: 100;
  stroke-width: 0.2px;
  stroke: white;
  stroke-dasharray: 400;
  opacity: 0;
  -webkit-animation: revealText 5s forwards 1s;
  animation: revealText 5s forwards 1s;
}

.fireworks {
  position: absolute;
}

.particle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: top;
  transform-origin: top;
}

.particle__item {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: fireworks;
  animation: fireworks;
  -webkit-animation-timing-function: cubic-bezier(0.69, 0.38, 0.82, 0.46);
  animation-timing-function: cubic-bezier(0.69, 0.38, 0.82, 0.46);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fireworks {
  0% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(7vh) scaleY(10);
    transform: translateY(7vh) scaleY(10);
    opacity: 1;
  }
  90% {
    -webkit-transform: translateY(14vh) scaleY(3);
    transform: translateY(14vh) scaleY(3);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(21vh) scaleY(1);
    transform: translateY(21vh) scaleY(1);
    opacity: 0;
  }
}

@keyframes fireworks {
  0% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(5vh) scaleY(10);
    transform: translateY(7vh) scaleY(10);
    opacity: 1;
  }
  90% {
    -webkit-transform: translateY(10vh) scaleY(3);
    transform: translateY(14vh) scaleY(3);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15vh) scaleY(1);
    transform: translateY(21vh) scaleY(1);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes revealText {
  0% {
    stroke-dashoffset: 400;
    fill: transparent;
    opacity: 0;
  }
  50% {
    stroke-dashoffset: 800;
    stroke-opacity: 1;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 800;
    stroke-opacity: 0;
    fill: white;
    opacity: 1;
  }
}

@keyframes revealText {
  0% {
    stroke-dashoffset: 400;
    fill: transparent;
    opacity: 0;
  }
  50% {
    stroke-dashoffset: 800;
    stroke-opacity: 1;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 800;
    stroke-opacity: 0;
    fill: white;
    opacity: 1;
  }
}

/* responsive tablet */
@media screen and (max-width: 1023px) {
  /* 전체 설정 */
  .page {
    width: 60%;
    display: flex;
    justify-content: center;
  }

  p {
    font-size: 16px;
  }

  /* page 3: 거제 식물원 */

  .page3 .imgBox {
    display: inline-block;
  }

  /* page 4: 거제 포로수용소 */

  .page4 .imgBox .prisonBox {
    display: inline-block;
  }
  .page4 .buttonText {
    font-size: 16px;
  }
  /* page 6: 지심도 */
  .page6 .image {
    width: 250px;
    transition: none;
  }
  .page6 .imageContainer:hover .image {
    width: 250px;
  }
  .page6 .imageText {
    width: 100%;
  }
  /* page 8: 지역축제 */
}

/* responsive mobile */
@media screen and (max-width: 767px) {
  /* 공통설정*/

  p {
    font-size: 14px;
  }

  /* page 8: 지역축제 */
  .page8 .festivalNotice {
    width: 250px;
    height: 500px;
  }
}
