.page {
  height: 1000px;
  width: 100%;
}
p {
  font-size: 1.5rem;
}

.location {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.button {
  height: 6vh;
  width: 10vw;
  background-color: #023793;
  text-align: center;
  line-height: 6vh;
  color: white;
  border-radius: 15px;
  font-size: 1vw;
}

.longbutton {
  height: 3vh;
  width: 20vw;
  background-color: #4e74b7;
  text-align: center;
  line-height: 3vh;
  color: white;
  border-radius: 15px;
  font-size: 1vw;
}

.subButton {
  height: 6vh;
  width: 10vw;
  background-color: #6f843b;
  text-align: center;
  line-height: 6vh;
  color: white;
  border-radius: 15px;
  font-size: 2vh;
}

/* page 1 */
.text {
  position: absolute;
  color: #02276b;
  font-weight: bold;
  z-index: 3;
}

.text1 {
  left: 55vw;
  top: 2vh;
  font-size: 10vh;
}

.text2 {
  left: 25vw;
  top: 55vh;
  font-size: 15vh;
}

.text3 {
  text-decoration: overline;
  font-size: 16px;
  left: 48%;
}

/* page2: map  */
/* ping */
/* i {
  position: relative;
  bottom: 10px;
  z-index: 222;
}
i:hover {
  transform: scale(1.5);
}

.page2 .image {
  width: 40vw;
  height: 30vh;
}

.pins {
}
.pins .first {
  bottom: 200px;
  left: 35%;
}

.pins .second {
  bottom: 250px;
  left: 46%;
}

.pins .third {
  bottom: 330px;
  left: 54%;
}

.pins .fourth {
  bottom: 210px;
  left: 88%;
}
.mainButtonContainer {
  display: flex;
  justify-content: space-between;
}

.mainButtonContainer .mainButton {
  font-size: 1.5rem;
  background-color: #023793;
  color: white;
  height: 6vh;
  width: 8vw;
  line-height: 6vh;
  text-align: center;
  border-radius: 15px;
} */

/* 추천명소 map */
.winter-map .map:first-child {
  width: 816px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.winter-map .imgContainer {
  width: 816px;
  overflow-y: scroll;
  border: 1px solid #02276b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.winter-map .buttonContainer {
  width: 816px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.winter-map .map .title {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* .winter-map .map .title {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
} */

.winter-map .mainButton {
  background-color: #02276b;
  margin-right: 10px;
}

.winter-map .pin1 {
  position: absolute;
  bottom: -32px;
  left: 97px;
}

.winter-map .pin2 {
  position: absolute;
  bottom: 4px;
  left: 166px;
}

.winter-map .pin3 {
  position: absolute;
  bottom: 26px;
  left: 180px;
}

.winter-map .pin4 {
  position: absolute;
  bottom: -84px;
  left: 353px;
}

.winter-map .map .button {
  width: 170px;
  height: 51px;
  background-color: #02276b;
  color: #e6efff;
  font-size: 16px;
  text-align: center;
  line-height: 51px;
  /* border-radius: 15px; */
}

/* page 3: 거제 식물원 */
.page3 .imgBox {
  position: relative;
  display: flex;
  width: 55vw;
  justify-content: space-between;
}
.page3 .leftimages {
  width: 25vw;
  height: 50vh;
}
.page3 .rightimages {
  width: 25vw;
  height: 50vh;
}

.page3 p {
  line-height: 150%;
}

.page3 .buttonBox .boxContainer {
  display: flex;
}

/* page 4: 포로수용소 */

.page4 .tableContainer {
  border: 3px solid #8ea84c;
}

.page4 .image {
  border-radius: 15px;
  height: 50vh;
  width: 30vw;
}

.page4 .buttonContainer {
  margin: 2vh;
}

.page4 .buttonContainer .buttonText {
  font-size: 2vh;
}

/* page 5: 고현시장 */
.swiper {
  width: 50vw;
  height: 60vh;
}

.swiper .swiper-wrapper .swiper-slide {
  width: 200px;
  height: 100%;
  border: #02276b;
  text-align: center;
  line-height: 200px;
  box-sizing: border-box;
  font-size: 25px;
  border-radius: 15px;
}

.swiper .swiper-wrapper .swiper-slide .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
/* pagination custom */
/* 화살표 커스텀 */
.swiper-button-prev,
.swiper-button-next {
  color: #e6efff;
}

.marketText {
  margin: 10vh;
}

/* page 6: 지심도 */
.place {
  margin-left: auto;
}

.page6 .button {
  float: right;
}
.page6 :nth-child(3) {
  float: right;
}

.page6 .imageContainer {
  display: flex;
  align-content: space-evenly;
}

.page6 .image {
  border-radius: 15px;
  height: 20vh;
  width: 15vw;
}

.page6 .imageText {
  position: relative;
  width: 30vw;
  font-size: 1.5rem;
  line-height: 3vh;
  justify-content: center;
  left: 4vw;
}

/* page 7: 제철음식 */
.page7 {
  border-radius: 15px;
  border: 2px solid #4e74b7;
}
.page7 .subContainer {
  position: relative;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.page7 .foodContainer {
  display: flex;
}

.page7 .image {
  position: relative;
  border-radius: 15px;
  width: 25vw;
  height: 50vh;
}

.page7 .foodContainer {
  border: 3px blue;
}

.page7 .foodContainer .buttonContainer {
  flex-direction: column;
}

.page7 .subContainer .buttonContainer .button {
  background-color: #8ea84c;
}

.page7 .restaurant .buttonContainer .button {
  background-color: #2f3819;
}

.restaurant {
  position: relative;
  top: 20%;
  margin: 3%;
}
.page7 .textBox {
  font-size: 2vh;
}

/* page 8: 지역축제 */

.page8 {
  border-radius: 15px;
  border: 2px solid #4e74b7;
}

.page8 .subContainer {
  position: relative;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin: 10%;
  border: 3px solid green;
}
